.reviewContainer{
    max-width: 100%;
    min-height: 550px;
    background-color: #F3E8E2;
    border: 2px solid #F3E8E2;
    position: relative;
    overflow: scroll;
}

.topCon{
    border: 2px solid black;
    max-width: 75%;
    margin: 4rem auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftcon{
    width: 350px;
}

.buttons{
    width: 150px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    cursor: pointer;
}

.arrow{
    background: #FFBB50;
    padding: 2rem;
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
    border-radius: 40rem;
}

.bottom{
    border: 2px solid black;
    width: 90%;
    display: inline-block;
    /* margin: 0 auto; */
    position: absolute;
    right: 0rem;

    display: flex;
}

.bottom .div{
    background: linear-gradient(270deg, #ECC8B7, #F4DBCE);
    width: 340px;
    border-radius: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px;
    color: #B16642;
    font-size: 1.2rem;

}

.profile{
    width: 70px;
    height: 70px;
    border: 5px solid #F4DACD;
    border-radius: 20rem;
    margin-left: 10px;
}

.profile img{
    width: 100%;
    width: 100%;
    border-radius: 20rem;
}