.aboutContainer{
    max-width: 100%;
    min-height: 350px;
    background: linear-gradient(#F2F1EF, #F2F1EF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImg{
    max-width: 900px;
    height: 500px;
}

.aboutSubHead span{
    margin-right: 0.3rem;
    color: #FFBB50;
}

.aboutSubHead{
    max-width: 200px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.3rem;
    text-align: center;
    letter-spacing: 6px;
}

.abouthead{
    margin-bottom: 1rem;
    max-width: 420px;
}

.aboutbody{
    line-height: 1.7em;
    max-width: 480px;
    font-size: 1rem;
    color: #B16642;
}

.aboutbody1{
    margin-top: 0.3rem;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}