.aboutContainer{
    max-width: 100%;
    min-height: 600px;
    background-color: #F2F1EF;
    /* border: 2px solid black; */
}

.group{
    width: 87%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    max-width: 99%;
    position: absolute;
    right: 0;
    /* padding: 0 0 0 2rem; */
}

.rightAbout{
    width: 700px;
    height: 600px;
    /* max-height: 100%; */
    /* border: 2px solid black; */
    min-height: 500px;
}

.aboutImg{
    width: 100%;
    height: 100%;
}

.aboutSubHead span{
    margin-right: 0.3rem;
    color: #FFBB50;
}

.aboutSubHead{
    max-width: 200px;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.3rem;
    text-align: center;
    letter-spacing: 6px;
}

.abouthead{
    margin-bottom: 1rem;
    max-width: 410px;
}

.aboutbody{
    /* line-height: 1.7em; */
    max-width: 480px;
    font-size: 1rem;
    color: #B16642;
}

.aboutbody1{
    margin-top: 1rem;
}

.aboutButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
